body{
    margin: 0px;
}
h1{
    font-size: 40px;
}
h3,p{
    font-size: 20px;
}
section{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: aqua;
}
.about{
    background-image: url(imageweb/top-banner.png);
    
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 80%;
}
span{
    color: blue;
}
.more{
    text-decoration: none;
    color: rgba(5, 5, 5, 0.904);
    background-color: rgba(16, 198, 243, 0.514);
    padding: 10px 15px;
}
#photo1, #photo2{
    padding: 30px 0px;
}
.home-section{
    background-image: url(imageweb/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

